/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


s|Panel
{
	corner-radius:6;
	background-alpha:0.6;
}

mx|LinkButton
{
	color:#F3F7FA;
}

s|Label.Alert
{
	font-weight:"bold";
	color:#FF0000;

}
s|TextArea.errorPanel
{
	contentBackgroundAlpha: 0.0;
	borderVisible: false;
	color: #FFFFFF;
	fontSize: 14;
	fontStyle: italic;
	fontWeight: bold;
}
s|BorderContainer.errorPanel
{
	backgroundColor: #D33737;
	borderWeight: 3;
	dropShadowVisible: true;
	borderStyle: inset;
}
global
{
	font-size: 14;
	font-family: Georgia;
}
mx|LinkBar.Dashboard
{
	borderVisible: false;
	contentBackgroundAlpha: 0.0;
	disabled-color:#4FA5ED;
	fontSize: 16;
	fontWeight: bold;
	horizontalGap: 24;
	separator-width:2;
}
mx|ProgressBar.loading
{
	color: #FFFFFF;
}
s|Label
{
	fontFamily: Verdana;
	fontSize: 14;
}
mx|FormItem
{
	fontFamily: Georgia;
	fontSize: 14;
}
s|Button
{
	fontFamily: Georgia;
	fontSize: 14;
}

	