/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	src: url("/fonts/Ubuntu-R.ttf");
	fontFamily: "Ubuntu";
	embedAsCFF: true;	
}

@font-face {
	src: url("/fonts/Ubuntu-B.ttf");
	fontFamily: "Ubuntu";
	fontWeight: "bold";
	embedAsCFF: true;	
}

@font-face {
	src: url("/fonts/Ubuntu-BI.ttf");
	fontFamily: "Ubuntu";
	fontWeight: "bold";
	fontStyle: "italic";
	embedAsCFF: true;	
}

@font-face {
	src: url("/fonts/Ubuntu-I.ttf");
	fontFamily: "Ubuntu";
	fontStyle: "italic";
	embedAsCFF: true;	
}

s|global
{
	font-size: 14;
	font-family: Ubuntu;
	modal-transparency:0.1;
}

mx|global
{
	font-size: 14;
	font-family: Ubuntu;
	modal-transparency:0.1;
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

s|Label.item{
	font-weight:bold;
	color:#FFFFFF;
}

s|TextInput.item{
	font-weight:bold;
}

s|ComboBox.item{
	font-weight:bold;
}

s|DropDownList.item{
	font-weight:bold;
}

mx|DateField{
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

mx|DataGridColumn{
	font-weight:"bold";
	font-size:14;
	text-align:"center";
	padding-left:5;
}

mx|DataGrid{
	text-selected-color:#FFFFFF;
	text-roll-over-color:#FFFFFF;
	font-weight:"bold";
	drop-shadow-visible:true;
	alternating-item-colors:#696969,#7c7b7b;
	border-visible:true;
	defaultDataGridItemRenderer: ClassReference("mx.controls.dataGridClasses.FTEDataGridItemRenderer");
}

mx|LinkButton.titleexpanded_back
{
	fontWeight:"bold";
	fontSize:20;
	color:#70B2EE;
	padding-right:0;
	padding-left:0;
	text-selected-color:#FFFFFF;
	text-roll-over-color:#FFFFFF;	
}

s|Label.titleexpanded_title
{
	font-size:20;
	font-weight:"bold";
	color:#FFFFFF;
}

s|Label.labelexpanded_label
{
	fontWeight:"bold";
}

s|Label.titleexpanded_expand
{
	fontWeight:"bold";
	fontSize:14;
	color:#70B2EE;
}

s|Label.draghere{
	fontSize:12;
	color:#70B2EE;
}

s|Label.labelexpanded_explain
{
	fontWeight:"bold";
	fontSize:14;
	color:#70B2EE;
}

mx|Text.labelexpanded_expandedtext
{
	fontStyle:"italic";
	fontSize:14;
}

mx|FormItemLabel
{
 	font-weight:"bold";	
}

mx|Text.titleexpanded_text
{
	fontStyle:"italic";
	fontSize:14;
	padding-left:40;
}

s|Label.categorylist_child
{
	font-size:14;
	font-weight:"bold";
	text-align:"left";
	padding-bottom:4;
	padding-top:4;
}

mx|Label.categorylist_category
{
	font-size:20;
	font-weight:"bold";
	color:#FFFFFF;
}

s|Panel
{
	corner-radius:6;
	background-alpha:0.6;
}

s|Label.Alert
{
	font-weight:"bold";
	color:#FF0000;

}
s|TextArea.errorPanel
{
	contentBackgroundAlpha: 0.0;
	borderVisible: false;
	color: #FFFFFF;
	fontSize: 14;
	fontStyle: italic;
	fontWeight: bold;
}
s|BorderContainer.errorPanel
{
	backgroundColor: #D33737;
	borderWeight: 3;
	dropShadowVisible: true;
	borderStyle: inset;
}

s|TextArea.messagePanel
{
	contentBackgroundAlpha: 0.0;
	borderVisible: false;
	color: #FFFFFF;
	fontSize: 14;
	fontStyle: italic;
	fontWeight: bold;
}
s|BorderContainer.messagePanel
{
	backgroundColor: #70B2EE;
	borderWeight: 3;
	dropShadowVisible: true;
	borderStyle: inset;
}

mx|LinkButton.action
{
	color: #FFFFFF;
	text-roll-over-color:#FFFFFF;
	text-selected-color:#FFFFFF;
	font-weight:bold;
	text-align:left;
	font-size:16;
}

mx|LinkBar.Dashboard
{
	borderVisible: false;
	contentBackgroundAlpha: 0.0;
	disabled-color:#FFFFFF;
	text-roll-over-color:#FFFFFF;
	text-selected-color:#FFFFFF;
	fontSize: 16;
	fontWeight: bold;
	horizontalGap: 24;
	separator-width:2;
}
mx|ProgressBar.loading
{
	color: #FFFFFF;
}
s|Label
{
	fontSize: 14;
}

mx|FormHeading{
	padding-top:0;
	text-align:center;
	text-indent:0;
	font-size:14;
	padding-left:0;
}

mx|FormItem
{
	fontSize: 14;
}
s|Button
{
	fontSize: 14;
}

s|TitleWindow{
	background-alpha:1.0;
}

s|BorderContainer.errorText{
	background-alpha:1.0;
	background-color:#D33737;
}

mx|Text.errorText{
	color:#FFFFFF;
	font-weight:"bold";
	font-style:"italic";
	padding-left:5;
	padding-right:5;
}

mx|ToolTip{
	font-size:12;
}
