/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Panel
{
	corner-radius:6;
}

mx|LinkButton
{
	color:#F3F7FA;
}

s|Label.Alert
{
	font-weight:"bold";
	color:#FF0000;

}
s|TextArea.errorPanel
{
	contentBackgroundAlpha: 0.0;
	borderVisible: false;
	color: #FFFFFF;
	fontSize: 12;
	fontStyle: italic;
	fontWeight: bold;
}
s|BorderContainer.errorPanel
{
	backgroundColor: #D33737;
	borderWeight: 2;
	dropShadowVisible: true;
	borderStyle: inset;
}
global
{
	font-size: 14;
	font-family: Georgia;
}

	