<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>	
	<body marginheight="0" marginwidth="0" leftmargin="0" topmargin="0">
 <table width="1259" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
    <td colspan="3">
      <img src="https://gmail.mxhero.com/fileserver/images/head1.png" alt="" width="480" height="91" style="float:left;" />
      <p style="float:left; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; line-height:20px; color:#000000; text-align:center; display:block; margin:0px; padding:30px 0px 0px 0px;"><strong style="display:block; clear:both; width:100%; font-size:28px; line-height:28px; font-weight:bold;">ATTACHMENTS</strong>Your files will be available for 30 days</p>
    </td>
  </tr>
	<tr>
	  <td colspan="3"><img src="https://gmail.mxhero.com/fileserver/images/header.gif" alt="" width="1259" height="29" /></td></tr>
	<tr>
	  <td align="left" width="50" valign="top">
      <img src="https://gmail.mxhero.com/fileserver/images/left.gif" alt="" width="50" height="22" />
    </td>
	  <td align="left" bgcolor="#f2f2f2" width="1163">
      	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
          #foreach($file in $files)
        	<tr>
            <td width="40" align="center" style="border-bottom:1px solid #d1d1d1; border-left:1px solid #bfbfbf; margin:0px; padding:10px 0px 10px;">
              <img src="https://gmail.mxhero.com/fileserver/images/bullet.gif" alt="" style="margin:0px; padding:1px 0px 0px;" width="10" height="10" />
            </td>
            <td style="border-bottom:1px solid #d1d1d1; margin:0px; padding:10px 0px 10px;">
              <span style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000;">$esc.html($file.attach.fileName)</span>
            </td>
            <td width="80" style="border-bottom:1px solid #d1d1d1; margin:0px; padding:10px 0px 10px;">
              <a href="$file.attach.tempLink&amp;type=1" target="" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#00aeea; text-decoration:none;">OPEN</a>
            </td>
            <td width="180" style="border-bottom:1px solid #d1d1d1; margin:0px; padding:10px 0px 10px;">
              <a  href="$file.attach.tempLink&amp;type=2" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#00aeea; text-decoration:none;">DOWNLOAD</a>
            </td>
            <td width="120" style="border-bottom:1px solid #d1d1d1; margin:0px; border-right:1px solid #bfbfbf; padding:10px 0px 10px;">
              <span style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000;">$file.attach.beautySize</span>
            </td>
          </tr>
          #end
        </table>
      </td>
	  <td align="right" width="46" valign="top">
      <img src="https://gmail.mxhero.com/fileserver/images/right.gif" alt="" width="46" height="22" />
    </td>
	</tr>
	<tr>
    <td colspan="3">
      <img src="https://gmail.mxhero.com/fileserver/images/footer.gif" alt="" width="1259" height="48" />
    </td>
  </tr>
	<tr>
    <td colspan="3">
      <p style="margin:0px; padding:0px; text-align:center; font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#939393; font-style:italic;">Add <a style="color:#939393; text-decoration:none; font-weight:bold;" href="http://www.mxhero.com/products/hero-attach" target="_blank">Hero Attach</a> to your domain.</p>
    </td>
  </tr>
</table>
</body>
</html> 
  